{
  "extends": ["eslint:recommended", "plugin:vue/vue3-essential", "prettier"],
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "warn"
  }
}
